@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

#tela1 {
  height: 100vh;
  width: 100%;
  position: relative;
  /*  */
}
#tela1 > header {
  background-color: #4193ff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  /*  */
}
#tela1 > main {
  min-height: calc(100vh - 100px);
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
}
#tela1 > main #wrap {
  background-color: #fff;
  border-radius: 16px;
  color: #555555;
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* SOMBRA */
  -webkit-box-shadow: 5px 5px 6px -5px #C1C1C1;
  box-shadow: 5px 5px 6px -5px #C1C1C1;
  /*  */
}
#tela1 > main #wrap form {
  width: 100%;
  padding: 0 30px;
}
#tela1 > main #wrap #titulo {
  font-size: 34px;
}
#tela1 > main #wrap .input_group {
  width: 100%;
  margin: 25px 0px;
  position: relative;
  /*  */
}
#tela1 > main #wrap .input_group label {
  display: block;
}
#tela1 > main #wrap .input_group input[type=email],
#tela1 > main #wrap .input_group input[type=password] {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #c7c7c7;
  padding: 12px 5px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  transition: all 0.2s linear;
}
#tela1 > main #wrap .input_group input[type=email]:hover, #tela1 > main #wrap .input_group input[type=email]:focus,
#tela1 > main #wrap .input_group input[type=password]:hover,
#tela1 > main #wrap .input_group input[type=password]:focus {
  border: 1px solid #4193ff;
}
#tela1 > main #wrap .input_group input[type=submit] {
  padding: 12px 5px;
  border-radius: 10px;
  background-color: #4193ff;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: none;
  transition: all 0.3s linear;
}
#tela1 > main #wrap .input_group input[type=submit]:hover {
  background-color: #5da2fc;
}
#tela1 > footer {
  background-color: #559fff;
  height: 40px;
  border-top: 5px solid #3d91ff;
  border-bottom: 5px solid #3d91ff;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /*  */
}

#tela2 {
  height: 100vh;
  width: 100%;
  position: relative;
  /*  */
}
#tela2 > main {
  background-color: #6644e8;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /*  */
}
#tela2 > main #wrap {
  height: 100%;
  width: 410px;
  /*  */
}
#tela2 > main #wrap #logo {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tela2 > main #wrap #form {
  background-color: white;
  height: 60%;
  width: 100%;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*  */
}
#tela2 > main #wrap #form #titulo_subtitulo {
  width: 100%;
  padding: 0 50px;
}
#tela2 > main #wrap #form #titulo_subtitulo #titulo {
  font-size: 30px;
  font-weight: bold;
}
#tela2 > main #wrap #form #titulo_subtitulo #subtitulo {
  font-size: 14px;
  color: gray;
}
#tela2 > main #wrap #form .input_group {
  width: 100%;
  padding: 0 50px;
  position: relative;
  /*  */
}
#tela2 > main #wrap #form .input_group label {
  display: block;
  color: gray;
}
#tela2 > main #wrap #form .input_group input {
  width: 100%;
  padding: 15px 3px 1px 3px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 16px;
}
#tela2 > main #wrap #form .input_group input:focus, #tela2 > main #wrap #form .input_group input:hover {
  border-bottom: 1px solid #3b42ff;
}
#tela2 > main #wrap #form .input_group .icon {
  position: absolute;
  color: #6644e8;
  width: 24px;
  height: 24px;
  transform: translateX(-20px);
}
#tela2 > main #wrap #form #check {
  padding: 0 50px;
  width: 100%;
  display: flex;
  align-items: center;
  /*  */
}
#tela2 > main #wrap #form #check #icon_toggle {
  width: 25px;
  height: 25px;
  transition: all 2s ease;
  /*  */
}
#tela2 > main #wrap #form #check label input[type=checkbox] {
  display: none;
}
#tela2 > main #wrap #form #check span {
  color: gray;
  margin-left: 10px;
  font-size: 12px;
}
#tela2 > main #wrap #form #container_submit input[type=submit] {
  padding: 8px 50px;
  border: none;
  border-radius: 1000px;
  background-color: #6644e8;
  color: #fff;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.47);
}

/*# sourceMappingURL=main.css.map */
