#tela6 {
    /* varibles */
    $preto: #202020;
    $branco: #faf2f2;
    $cinza: #6e6e6e;
    $header_h: 0px;
    $header_w: 100%;
    $footer_w: 100%;
    $footer_h: 0px;
    $main_w: 100%;
    $main_h: calc(100vh - $header_h - $footer_h);
    /* varibles */
    >main {
        width: $main_w;
        height: $main_h;
        display: flex;
        justify-content: center;
        /*  */
        /* scrol */
         ::-webkit-scrollbar {
            width: 15px;
            height: 15px;
        }
         ::-webkit-scrollbar-thumb {
            background: #A8A8A8;
            border-radius: 30px;
        }
         ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(150deg, #707070 32%, #ADADAD 80%);
        }
         ::-webkit-scrollbar-track {
            background: #C7C7C7;
            border-radius: 0px;
            box-shadow: inset 1.8px 4px 9px 0px #FFFFFF;
        }
        /* scrol */
        #wrap_timeline {
            /* scrol */
             ::-webkit-scrollbar {
                width: 9px;
                height: 9px;
            }
             ::-webkit-scrollbar-thumb {
                background: #A8A8A8;
                border-radius: 0px;
            }
             ::-webkit-scrollbar-thumb:hover {
                background: #FF8F8F;
            }
             ::-webkit-scrollbar-track {
                background: #C7C7C7;
                border-radius: 0px;
                box-shadow: inset 1.8px 4px 9px 0px #FFFFFF;
            }
            /* scrol */
            background-color: $preto;
            color: $branco;
            width: 400px;
            padding: 40px;
            overflow-y: scroll;
            /*  */
            .card {
                position: relative;
                &:hover .date::before {
                    -webkit-box-shadow: 1px 1px 20px 0px rgba(255, 255, 255);
                    box-shadow: 1px 1px 20px 0px rgba(255, 255, 255);
                }
                /* line */
                &::before {
                    content: "";
                    width: 2px;
                    height: calc(100% + 10px);
                    background-color: $branco;
                    position: absolute;
                    transform: translateX(-22px);
                }
                /*  */
                .date {
                    /* ball */
                    &::before {
                        content: "";
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        overflow: hidden;
                        transition: all .1s ease-in-out;
                        background-color: $branco;
                        position: absolute;
                        transform: translate(-30px, 2px);
                    }
                }
                .tit {
                    font-size: 20px;
                }
                .descricao {
                    font-style: italic;
                    font-size: 14px;
                    padding-bottom: 14px;
                    border-bottom: 1px solid gray;
                }
            }
        }
    }
}